@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 194 28% 95%;
    --foreground: 194 5% 0%;
    --card: 194 28% 90%;
    --card-foreground: 194 5% 10%;
    --popover: 194 28% 95%;
    --popover-foreground: 194 95% 0%;
    --primary: 194 20% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 28% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 156 28% 85%;
    --muted-foreground: 194 5% 35%;
    --accent: 156 28% 80%;
    --accent-foreground: 194 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 194 5% 90%;
    --border: 194 28% 50%;
    --input: 194 28% 18%;
    --ring: 194 20% 31%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 194 28% 5%;
    --foreground: 194 5% 90%;
    --card: 194 28% 0%;
    --card-foreground: 194 5% 90%;
    --popover: 194 28% 5%;
    --popover-foreground: 194 5% 90%;
    --primary: 194 20% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 28% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 156 28% 15%;
    --muted-foreground: 194 5% 60%;
    --accent: 156 28% 15%;
    --accent-foreground: 194 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 194 5% 90%;
    --border: 194 28% 18%;
    --input: 194 28% 18%;
    --ring: 194 20% 31%;
    --radius: 0.5rem;
  }  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}